<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Website</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="stylesheet" type = "text/css" href="/static/styles/styles2.css" />
</head>
<body>
  
  <div id="intro-page">
    <h1>Welcome to the Visual Working Memory Testing site!</h1>
    <p>The test requires you to memorize as many details as you can within one minute. After that, you will have to redraw it. Click "Submit" when are you done</p>
    <p>Click Next to move forward.</p>
    <button id="next">Next</button>
  </div>

  <div id="container">
    <div id="image-container">
      <img id="image" src="/static/path_to_your_image.jpg">
      <div id="timer"></div>
    </div>
    <div id="drawing-container">
      <div id="drawing-box">
        <canvas id='blankCanvas' style='display:none'></canvas>
        <canvas id="canvas"></canvas>
      </div>
      <div id="drawing-tools">
        <button id="pen">Pen</button>
        <button id="eraser">Eraser</button>
        <button id="delete">Delete</button>
        <button id="submit">Submit</button>
      </div>
    </div>
  </div>
  <script src="/static/script2.js" charset="utf-8"></script>
</body>
</html>
